/*

* Override Pages default styles or create your own styles here

*/

#connectingIcon {
  margin: auto;
  width: 60%;
  padding: 10px;
  padding-top:2.5em;
}

@media (max-width: 820px) {
  #connectingIcon {
    display:none;
  }
}
